<!-- <p id="notice"><%#= notice %></p>

<h2><%#= @message %></h2>
-->

<div class="panel panel-default" id="panel-inline">

    <div class="panel-heading">
        <h2><%= t('.listing_buildings') %></h2>
        <div class="panel-ctrls"></div>
    </div>

    <div class="panel-body panel-no-padding">

        <table class="datatables" id="editable">

            <thead>
                <tr role="row">
                    <th><%= t('.name') %></th>
                    <th><%= t('.description') %></th>
                    <th><%= t('.address') %></th>
                    <th><%= t('.postal_code') %></th>
                    <th><%= t('.phone') %></th>
                    <th><%= t('.Actions') %> </th>
                </tr>
            </thead>

            <tbody>
                <% @buildings.each_with_index do |building, index| %>
                <tr role="row" class="<%= index%2==0 ? 'odd' : 'even' %>">
                    <td><%= building.name %></td>
                    <td><%= building.description %></td>
                    <td><%= building.address %></td>
                    <td><%= building.postal_code %></td>
                    <td><%= building.phone %></td>
                    <td>
                        <%= link_to t('.show'), building %>
                        <%= link_to t('.edit'), edit_building_path(building) %>
                        <%= link_to t('.destroy'), building, method: :delete, data: { confirm: t('.are_you_sure') } %>
                    </td>
                </tr>
                <% end %>
            </tbody>

        </table>

        <!--end table-->
        <div class="panel-footer"></div>

    </div>

</div>
<%= link_to t('.new_building'), new_building_path, :class=>"fa fa-plus" %>
