<p id="notice"><%= t('.notice') %></p>

<h1><%= t('.listing_buildings') %></h1>

<h2><%= @message %></h2>

<table>
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.description') %></th>
      <th><%= t('.address') %></th>
      <th><%= t('.postal_code') %></th>
      <th><%= t('.phone') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buildings.each do |building| %>
      <tr>
        <td><%= building.name %></td>
        <td><%= building.description %></td>
        <td><%= building.address %></td>
        <td><%= building.postal_code %></td>
        <td><%= building.phone %></td>
        <td><%= link_to t('.show'), building %></td>
        <td><%= link_to t('edit'), edit_building_path(building) %></td>
        <td><%= link_to t('destroy'), building, method: :delete, data: { confirm: t('.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new_building'), new_building_path %>
