<div class="panel panel-default">
    <div class="panel-heading">
        <h2> <%= t('informacion_edificio')%> </h2>
    </div>
    <div class="panel-body panel-no-padding">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr role="row">
                        <th><%= t('.name') %></th>
                        <th><%= t('.description') %></th>
                        <th><%= t('.address') %></th>
                        <th><%= t('.postal_code') %></th>
                        <th><%= t('.phone') %></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= @building.name %></td>
                        <td><%= @building.description %></td>
                        <td><%= @building.address %></td>
                        <td><%= @building.postal_code %></td>
                        <td><%= @building.phone %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--end table-->
    </div>
</div>
<%= link_to t('.destroy'), @building, method: :delete, :class => "btn btn-danger-alt" %>

<%= link_to t('.edit'),  edit_building_path(@building), :class => "btn btn-warning-alt" %>

<%= link_to t('.back'), buildings_path, :class => "btn btn-inverse-alt" %>
