<p id="notice"><%= t('.notice') %></p>

<p>
  <strong> <%= t('.name') %>:</strong>
  <%= @building.name %>
</p>

<p>
  <strong><%= t('.description') %>:</strong>
  <%= @building.description %>
</p>

<p>
  <strong><%= t('.address') %>:</strong>
  <%= @building.address %>
</p>

<p>
  <strong><%= t('.postal_code') %>:</strong>
  <%= @building.postal_code %>
</p>

<p>
  <strong><%= t('.phone') %>:</strong>
  <%= @building.phone %>
</p>

<%= link_to t('.edit'), edit_building_path(@building) %> |
<%= link_to t('.back'), buildings_path %>
