<div class="panel panel-default" id="panel-inline">

    <div class="panel-heading">
        <h2><%= t('.listing_buildings') %></h2>
        <div class="panel-ctrls"></div>
    </div>

    <div class="panel-body panel-no-padding">

        <table class="datatables" id="editable">

            <thead>
                <tr role="row">
                    <th><%= t('.name') %></th>
                    <th><%= t('.description') %></th>
                    <th><%= t('.kind') %></th>
                    <th><%= t('.Actions') %>
                    </th>
                </tr>
            </thead>

            <tbody>
                <% @sensors.each do |sensor| %>
                <tr>
                    <td><%= sensor.name %></td>
                    <td><%= sensor.description %></td>
                    <td><%= sensor.kind %></td>
                    <td><%= link_to t('.show'), sensor %>
                    <%= link_to t('.edit'), edit_sensor_path(sensor) %>
                    <%= link_to t('.destroy'), sensor, method: :delete, data: { confirm: t('.are_you_sure') } %>
                  </td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <!--end table-->
        <div class="panel-footer"></div>

    </div>

  </div>
  <%= link_to t('.new_sensor'), new_sensor_path, :class=>"fa fa-plus" %>
