<p id="notice"><%= t('.notice') %></p>

<p>
  <strong><%= t('.name') %>:</strong>
  <%= @sensor.name %>
</p>

<p>
  <strong><%= t('.description'):</strong>
  <%= @sensor.description %>
</p>

<p>
  <strong><%= t('.kind') %>:</strong>
  <%= @sensor.kind %>
</p>

<%= link_to t('.edit'), edit_sensor_path(@sensor) %> |
<%= link_to t('.back'), sensors_path %>
