<div class="panel panel-default">
    <div class="panel-heading">
        <h2>
            <%= t('.informacion_sensor')%>
        </h2>
    </div>
    <div class="panel-body panel-no-padding">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr role="row">
                        <th><%= t('.building')%></th>
                        <th><%= t('.location')%></th>
                        <th><%= t('.board')%></th>
                        <th><%= t('.name') %></th>
                        <th><%= t('.description') %></th>
                        <th><%= t('.kind') %></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%= @sensor.board.location.building.name %>
                        </td>
                        <td>
                            <%= @sensor.board.location.name %>
                        </td>
                        <td>
                            <%= @sensor.board.name %>
                        </td>
                        <td>
                            <%= @sensor.name %>
                        </td>
                        <td>
                            <%= @sensor.description %>
                        </td>
                        <td>
                            <%= @sensor.kind %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--end table-->
    </div>
</div>

<!--Grafica -->
<% unless @sensor_measures.blank? %>
<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <%= t('.sensor_evolution') %>
            <%= form_tag sensors_details_path(), remote: true do %>
              <input type="hidden" name="id" id="id" value="<%= @sensor.id%>" />
              <select class="period" id="period" name="period">
                <option value="">Selecciona un periodo</option>
                <option value="1">Un día</option>
                <option value="7">Una semana</option>
                <option value="30">Un mes</option>
              </select>
          <% end %>
        </div>
        <div class="panel-body">
            <div id="sensor-evolution" style="height: 250px;"></div>
        </div>
    </div>
</div>

<% content_for(:extra_scripts) do %>
<script type="text/javascript">
    $(document).ready(function () {
        new Morris.Area({
            element: 'sensor-evolution',
            data: <%= raw @sensor_measures.to_json %>,
            xkey: 'time',
            ykeys: ['value'],
            labels: ['Value'],
            pointSize: 2,
            resize: true
        });
    });
</script>
<% end %>
<% end %>
<!--PIE-->

<%= link_to t('.destroy'), @sensor, method: :delete, :class => "btn btn-danger-alt" %>

<%= link_to t('.edit'), edit_sensor_path(@sensor), :class => "btn btn-warning-alt" %>

<%= link_to t('.back'), sensors_path, :class => "btn btn-inverse-alt" %>
