<p id="notice"><%= notice %></p>
<div class="col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">
        <h2><%= t('.listing_boards') %></h2>
				<div class="options">

				</div>
			</div>
			<div class="panel-body panel-no-padding">
				<table class="table table-striped">
					<thead>
						<tr class="info">
							<th>
                <p>
                <strong><%= t('.name') %>:</strong>
                </p>
              </th>
							<th><p>
                <strong><%= t('.description') %>:</strong>

              </p></th>
							<th><p>
                <strong><%= t('.model') %>:</strong>

              </p></th>
						</tr>
					</thead>
          <tbody>
            <% @boards.each do |board| %>
              <tr>
                <td><%= board.name %></td>
                <td><%= board.description %></td>
                <td><%= board.model %></td>
                <td><%= link_to t('.show'), board %></td>
                <td><%= link_to t('.edit'), edit_board_path(board) %></td>
                <td><%= link_to t('.destroy'), board, method: :delete, data: { confirm: t('.are_you_sure') } %></td>
              </tr>
            <% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>

<br>

<%= link_to t('.new_board'), new_board_path %>
