<p id="notice"><%= t('.notice') %></p>

<p>
  <strong><%= t('.name') %>:</strong>
  <%= @board.name %>
</p>

<p>
  <strong><%= t('.description') %>:</strong>
  <%= @board.description %>
</p>

<p>
  <strong><%= t('.model') %>:</strong>
  <%= @board.model %>
</p>

<%= link_to t('.edit'), edit_board_path(@board) %> |
<%= link_to t('.back'), boards_path %>
