<div class="panel panel-default">
	<div class="panel-heading">
		<h2><%=t('.informacion_controlador')%></h2>
	</div>
	<div class="panel-body panel-no-padding">

		<div class="table-responsive">
			<table class="table">
				<thead>

					<th><%= t('.name') %></th>
					<th><%=t('.description') %></th>
					<th><%= t('.model') %></th>
				</thead>
				<tbody>
					<tr>
						<td><%= @board.name %></td>
						<td><%= @board.description %></td>
						<td>
							<%= @board.model %></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div>
<%= link_to t('.destroy'), @board, method: :delete, :class => "btn btn-danger-alt" %>

<%= link_to t('.edit'), edit_board_path(@board), :class => "btn btn-warning-alt" %>

<%= link_to t('.back'), boards_path, :class => "btn btn-inverse-alt" %>
</div>
