<p id="notice"><%= notice %></p>

<h1><%= t('.listing_measures') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('.value') %></th>
      <th><%= t('.metric') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @measures.each do |measure| %>
      <tr>
        <td><%= measure.value %></td>
        <td><%= measure.metric %></td>
        <td><%= link_to t('.show'), measure %></td>
        <td><%= link_to t('.edit'), edit_measure_path(measure) %></td>
        <td><%= link_to t('.destroy'), measure, method: :delete, data: { confirm: t ('.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new_measure'), new_measure_path %>
