<p id="notice"><%= t('.notice') %></p>

<p>
  <strong><%= t('.value') %>:</strong>
  <%= @measure.value %>
</p>

<p>
  <strong><%= t('.metric') %>:</strong>
  <%= @measure.metric %>
</p>

<%= link_to t('.edit'), edit_measure_path(@measure) %> |
<%= link_to t('.back'), measures_path %>
