<div class="ui-sortable">

	<div class="panel panel-default wijets-full-screen">

		<div class="panel-heading">
			<h2><%= t('.formulario_localizacion')%></h2>
			<div class="panel-ctrls">
				<span class="button-icon has-bg">
					<i class="fa fa-minus"></i>
				</span>
			</div>
		</div>

		<div class="panel-editbox" data-widget-controls=""></div>

		<div class="panel-body">
			<%= form_for(@location, html: { class: 'form-horizontal row-border' }) do |f| %>
			<% if @location.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@location.errors.count, "error") %>
					prohibited this location from being saved:</h2>

				<ul>
					<% @location.errors.full_messages.each do |message| %>
					<li><%= message %></li>
					<% end %>
				</ul>
			</div>
			<% end %>

			<div class="form-group">
				<%= f.label :building_id, class: 'col-sm-2 control-label' %>
				<div class="col-sm-8">
					<%= f.select :building_id, options_from_collection_for_select(Building.all, :id, :name, @location.building_id),
								class: 'form-control tooltips', include_blank: t('.select_a_building') %>
				</div>
			</div>


			<div class="form-group">
				<%= f.label :name, class: 'col-sm-2 control-label' %>
				<div class="col-sm-8">
					<%= f.text_field :name, class: 'form-control tooltips' %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :description, class: 'col-sm-2 control-label' %>
				<div class="col-sm-8">
					<%= f.text_area :description, class: 'form-control tooltips', rows: 10 %>
				</div>
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<%= f.submit 'Enviar', class: 'btn-primary btn' %>
						<%= link_to 'Cancelar', boards_path(), class: 'btn-default btn' %>
					</div>
				</div>
			</div>

			<% end %>
		</div>

	</div>

</div>
