<div class="panel panel-default" id="panel-inline">

    <div class="panel-heading">
        <h2><%= t('.Listing_Locations') %></h2>
        <div class="panel-ctrls"></div>
    </div>
    <div class="panel-body panel-no-padding">

        <table class="datatables" id="editable">

            <thead>
                <tr>
                    <th><%= t('.name') %></th>
                    <th><%= t('.description') %></th>
                    <th><%= t('.Actions') %> </th>
                </tr>
            </thead>

            <tbody>
                <% @locations.each_with_index do |location, index| %>
                <tr role="row" class="<%= index%2==0 ? 'odd' : 'even' %>">
                    <td><%= location.name %></td>
                    <td><%= location.description %></td>
                    <td>
                        <%= link_to t('.show'), location, :class => "btn btn-inverse-alt"  %>
                        <%= link_to t('.edit'), edit_location_path(location), :class => "btn btn-warning-alt" %>
                        <%= link_to t('.destroy'), location, method: :delete, :class => "btn btn-danger-alt", data: { confirm: t('.are_you_sure') } %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <!--end table-->
        <div class="panel-footer"></div>

    </div>
</div>

<%= link_to t('.New_Location'), new_location_path,  :class=>"btn btn-inverse" %>
