<p id="notice"><%= t('.notice') %></p>

<p>
  <strong><%= t('.name') %>:</strong>
  <%= @location.name %>
</p>

<p>
  <strong><%= t('.description') %>:</strong>
  <%= @location.description %>
</p>

<%= link_to t('.edit'), edit_location_path(@location) %> |
<%= link_to t('.back'), locations_path %>
