<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Ficha localización</h2>
    </div>
    <div class="panel-body panel-no-padding">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr role="row">
                        <th><%= t('.name') %></th>
                        <th><%= t('.description') %></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= @location.name %></td>
                        <td><%= @location.description %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--end table-->
    </div>
</div>
<%= link_to t('.destroy'), @location, method: :delete, :class => "btn btn-danger-alt" %>

<%= link_to t('.edit'), edit_location_path(@location), :class => "btn btn-warning-alt" %>

<%= link_to t('.back'), locations_path, :class => "btn btn-inverse-alt" %>
